html{
  scroll-behavior: smooth;
}


*{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../pexels-jess-bailey-designs-1157804.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.main ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

.main ul li{
  display: inline-block;
}

.main ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.5s ease;
}

.main ul li a:hover{
  background-color: #fff;
  color: black;
}

.main ul li.active a{
 background-color: #fff;
 color: black;
}

.logo img{
  border-radius: 55%;
  float: left;
  width: 100px;
  height: auto;
}

.main{
  max-width: 1200px;
  margin: auto;
}

.title{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #fff;
  font-size: 50px;
}

.button {
  position: absolute;
  border: 0.5px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn{
  border: 1px solid #fff;
  padding: 10px 40px;
  background-color: #fff;
  text-decoration: none;
  transition: 0.5s ease;
}

.btn:hover{
  background-color: #fff;
  color: rgb(5, 5, 5);
}

.social-menu ul{
  position: absolute;
  top: 80%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%,-50%);
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 30px;
}

.social-menu ul li .fa{
  font-size: 25px;
  line-height: 55px;
  transition: 0.5s ease;
  color: black;
}
.social-menu ul li .fa:hover{
  color: #fff;

}

.social-menu ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}

.social-menu ul li:nth-child(1) a:hover{
  background-color: #55acee;
}

.social-menu ul li:nth-child(2) a:hover{
  background-color: #ff0000;
}
.social-menu ul li:nth-child(3) a:hover{
  background-color: #007785;
}
.social-menu ul li:nth-child(4) a:hover{
  background-color: #e4405f;
}



/****** copyright ******/

#footer{
  display: flex;
  justify-content: space-around;
  background: #141224;
}

.copyright{
  text-align: center;
  padding: 30px 0 30px 0;
  color: white;
  font-size: 15px;
}

.social-menu ul li a:hover{
  transform: translate(0, -10px);
}






















